@use 'hero';
@use '_var';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var.$bgColor;
    font-family: Avenir, 'sans-serif';
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: var.$mainColor;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: var.$secColor;
}

.text--big {
    @include text(18px);
}

.text--normal {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: var.$secColor;
    text-decoration: underline;
    cursor: pointer;
}

.title--big {
    @include title(44px);
}

.title--normal {
    @include title;
}

.title--small {
    @include title(28px);
}